<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:fragment="codeMirror" >
  <script src="//cdnjs.cloudflare.com/ajax/libs/diff_match_patch/20121119/diff_match_patch.js"></script>

  <link rel="stylesheet" th:href="@{/codemirror/lib/codemirror.css}"/>
  <script th:src="@{/codemirror/lib/codemirror.js}"></script>
  
  <script th:src="@{/codemirror/addon/edit/matchbrackets.js}"></script>

  <script th:src="@{/codemirror/mode/xml/xml.js}"></script>
  <script th:src="@{/codemirror/mode/css/css.js}"></script>
  <script th:src="@{/codemirror/mode/javascript/javascript.js}"></script>
  <script th:src="@{/codemirror/mode/htmlmixed/htmlmixed.js}"></script>
  <script th:src="@{/codemirror/mode/clike/clike.js}"></script>
  <script th:src="@{/codemirror/mode/sql/sql.js}"></script>
  <script th:src="@{/codemirror/mode/pascal/pascal.js}"></script>
  <script th:src="@{/codemirror/mode/htmlembedded/htmlembedded.js}"></script>
  <script th:src="@{/codemirror/mode/php/php.js}"></script>
  <script th:src="@{/codemirror/mode/ruby/ruby.js}"></script>
</head>
<body>
</body>
</html>