<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	  <th:block th:fragment="editReview">
      
      <div class="panel panel-default">
        <div class="panel-heading clearfix">
          <h4 class="panel-title pull-left" >
            <a data-toggle="collapse" href="#pnlEditReviewId" th:text="#{title.projects.review.editReview}">Edit review</a>
          </h4>
          <div class="pull-right">
            <a href="#" data-toggle="modal" data-target="#modalTextFormattingHelp">
              <i class="fa fa-question-circle-o" aria-hidden="true"></i> <th:block th:text="#{help}"></th:block>
            </a>
          </div>
        </div>
        <div id="pnlEditReviewId" class="panel-body panel-collapse collapse in">
          <form id="formEditReviewId" name="formEditReviewId" role="form" th:method="post" th:object="${reviewForm}" th:action="@{/projects/review/edit}">
            <fieldset>
              <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
              <input type="hidden" id="inpPageUrlId" th:field="*{pageUrl}"/>
              <input type="hidden" th:field="*{id}"/>
              
              <div th:replace="@{fragments/showErrors} :: showErrors"></div>
              
              <div th:class="form-group" id="frmGroupCodeAnalysisId" th:classappend="${#fields.hasErrors('analysisStatus')} ? 'has-error'">
                <label for="codeAnalysisId" th:text="#{title.projects.review.codeAnalysis} + ':'"></label>
                <select class="form-control" id="codeAnalysisId" th:field="*{analysisStatus}">
                  <option value=""></option>
                  <option 
                    th:each="status : ${allCodeAnalysisStatus}" 
                    th:text="#{${status.internationalizedDescription}}" 
                    th:value="${status.codeAnalysisStatus}"></option>
                </select>
              </div>
  
              <div th:class="form-group" id="frmGroupTxtCommentId" th:classappend="${#fields.hasErrors('comment')} ? 'has-error'">
                <label for="txtCommentId" th:text="#{title.projects.review.comments} + ':'"></label>
                <textarea class="form-control" rows="15" id="txtCommentId" style="resize: none;" th:field="*{comment}"></textarea>
              </div>
            </fieldset>
            <button type="button" th:onclick="'saveReview(\''+ ${reviewForm.id}+ '\');'" class="btn btn-md btn-primary" th:text="#{save}"></button>
            <button type="button" th:onclick="'cancelEditReview(\''+ ${reviewForm.id}+ '\');'" class="btn btn-md  btn-default" th:text="#{cancel}"></button>
          </form>
        </div>
      </div>
      
      </th:block>
</body>
</html>