<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div th:fragment="fieldsUser">
		<div th:if="${#fields.hasAnyErrors()}">
			<div class="alert alert-danger" th:each="err : ${#fields.errors('*')}" th:inline="text">
 			  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
 				<span class="glyphicon glyphicon-alert"></span>
				<strong th:text="#{error} + ':'"></strong> [[${err}]]
			</div>
		</div>

		<div class="form-group" th:classappend= "${#fields.hasErrors('name')} ? 'has-error'">
	  	<label for="userName" th:text="#{user.name} + ':'"></label>
	    <input class="form-control" type="text" id="name" th:field="*{name}"/>
	  </div>

    <div th:class="${#fields.hasErrors('emailAddress')} ? 'form-group has-error' : 'form-group'">
	    <label for="email" th:text="#{emailAddress} + ':'"></label>
	    <input class="form-control" type="text" id="email" th:field="*{emailAddress}"/>
	  </div>

		<div class="checkbox">
		  <label><input type="checkbox" id="isAdmin" name="admin" th:field="*{admin}" th:text="#{user.isAdmin}"/></label>
	  </div>

	</div>		
</body>
</html>