<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div th:fragment="fieldsProject">
    
    <div th:replace="@{fragments/showErrors} :: showErrors"></div>
    
		<div class="form-group" th:classappend="${#fields.hasErrors('name')} ? 'has-error'">
		  <label for="projectName" th:text="#{project.name} + ':'"></label>
		  <input class="form-control" type="text" id="projectName" th:field="*{name}"/>
		</div>
		
		<div class="form-group" th:classappend="${#fields.hasErrors('repositoryPath')} ? 'has-error'">
		  <label for="repositoryPath" th:text="#{project.repositoryPath} + ':'"></label>
		  <input class="form-control" id="repositoryPath" type="text" th:field="*{repositoryPath}"/>
		</div>

    <div class="form-group" th:classappend="${#fields.hasErrors('repositoryType')} ? 'has-error'">
      <label th:text="#{project.repositoryType} + ':'"></label>
	    <label class="radio-inline" th:each="repositoryType : ${T(org.easyreview.domain.RepositoryType).values()}">
	      <input type="radio"
	             th:field="*{repositoryType}"
	             th:value="${repositoryType}"
	             th:text="${repositoryType.description}"
	             th:checked="*{repositoryType} == ${repositoryType}" ></input>
	    </label>
    </div>

    <div class="form-group" th:classappend="${#fields.hasErrors('commitsFromDate')} ? 'has-error'">
      <label for="commitsFromDateId" th:text="#{project.commitsFromDate} + ':'"></label>
      <input class="form-control" id="commitsFromDateId" type="date" th:field="*{commitsFromDate}" placeholder="yyyy-mm-dd"/>
    </div>

		<div class="table-responsive">
		  <table class="table table-striped table-hover">
		    <thead>
		      <tr>
		        <th class="text-center col-md-2" th:text="#{project.projectIsMembership}"></th>
		        <th th:text="#{user.name}"></th>
		        <th th:text="#{emailAddress}"></th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr th:each="user, rowStat : *{users}">
		        <td class="text-center col-md-2" >
		          <input type="hidden" th:field="*{users[__${rowStat.index}__].id}"/>
		          <input type="checkbox" id="isProjectMembership" th:field="*{users[__${rowStat.index}__].isProjectMembership}"/>
		        </td>
		        <td>
		          <input type="hidden" th:field="*{users[__${rowStat.index}__].name}" th:text="${user.name}"/>
		        </td>
		        <td th:text="${user.email}">
		          <input type="hidden" th:field="*{users[__${rowStat.index}__].email}" th:text="${user.email}"/>
		        </td>
		      </tr>
		    </tbody>
		  </table>
		</div>

	</div>		
</body>
</html>