<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
            <form th:fragment="formReplyReview" id="formReplyReviewId" role="form" th:method="post" th:object="${replyReviewForm}">
              <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
              <input type="hidden" id="inpPageUrlId" th:field="*{pageUrl}"/>
              <input type="hidden" id="inpReplyReviewIdReplyId" th:field="*{id}"/>
              <input type="hidden" id="inpReplyReviewIdReviewId" th:field="*{reviewId}"/>
  
              <div th:replace="@{fragments/showErrors} :: showErrors"></div>
  
              <div th:class="form-group" id="frmGroupTxtReplyReviewId" th:classappend="${#fields.hasErrors('text')} ? 'has-error'">
                <label for="txtReplyReviewTextId" th:text="#{reply} + ':'"></label>
                <textarea class="form-control" rows="5" id="txtReplyReviewTextId" style="resize: none;" th:field="*{text}"></textarea>
              </div>
            </form>
</body>
</html>