<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
        <form th:fragment="formAddReview" id="formAddReviewId" name="formAddReviewId" role="form" th:method="post" th:object="${reviewForm}" th:action="@{/projects/review/add}">
          <fieldset>
            <input type="hidden" id="inpPageUrlId" th:field="*{pageUrl}"/>
            <input type="hidden" th:field="*{id}"/>
            <input type="hidden" th:field="*{commitId}"/>
            <input type="hidden" th:field="*{project}"/>
            <input type="hidden" th:field="*{file}"/>
            
            <div th:replace="@{fragments/showErrors} :: showErrors"></div>
            
            <div th:class="form-group" id="frmGroupCodeAnalysisId" th:classappend="${#fields.hasErrors('analysisStatus')} ? 'has-error'">
              <label for="codeAnalysisId" th:text="#{title.projects.review.codeAnalysis} + ':'"></label>
              <select class="form-control" id="codeAnalysisId" th:field="*{analysisStatus}">
                <option value=""></option>
                <option 
                  th:each="status : ${allCodeAnalysisStatus}" 
                  th:text="#{${status.internationalizedDescription}}" 
                  th:value="${status.codeAnalysisStatus}"></option>
              </select>
            </div>

            <div th:class="form-group" id="frmGroupTxtCommentId" th:classappend="${#fields.hasErrors('comment')} ? 'has-error'">
              <label for="txtCommentId" th:text="#{title.projects.review.comments} + ':'"></label>
              <textarea class="form-control" rows="15" id="txtCommentId" style="resize: none;" th:field="*{comment}"></textarea>
            </div>
          </fieldset>
          <button type="submit" class="btn btn-md btn-primary" th:text="#{add}"></button>
        </form>
</body>
</html>