<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:fragment="title(titlePage)" >
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

  <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
         th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
         rel="stylesheet" media="screen" />
  <script src="http://cdn.jsdelivr.net/webjars/jquery/2.2.0/jquery.min.js"
           th:src="@{/webjars/jquery/2.2.0/jquery.min.js}" ></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	
  <link rel="stylesheet" type="text/css" th:href="@{/css/theme.css}"/>
  <link rel="stylesheet" th:href="@{/font-awesome/css/font-awesome.min.css}"/>
  
  <title th:text="${#strings.isEmpty(titlePage)} ? 'EasyReview' : 'EasyReview - ' + ${titlePage}">Title</title>
	
  <script type="text/javascript" th:inline="javascript">
    function pageUrl() {
        var url = [[${#ctx.httpServletRequest.getRequestURL().toString()}]];
        var query = [[${#ctx.httpServletRequest.getQueryString()}]];
        
        if (query)
        	  url = url + '?' + query;
        return url;
    }
  </script>
	
</head>
<body>
</body>
</html>