<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
    <nav id="idEasyReviewHeader" th:fragment="header" class="navbar navbar-inverse navbar-fixed-top">
		<div class="container" th:inline="text">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
     		<a class="navbar-brand" href="/">
     			<span><img th:src="@{/images/review-ico.png}" alt="icon" height="24" width="24"/></span>
     			EasyReview
     			<small th:text="#{version}"></small>
     		</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <th:block th:if="${beans.loggedUser.isAdmin}">
                <li>
                  <a th:href="@{/projects/insertNew}">
                    <span class="glyphicon glyphicon-th"></span>
                    [[#{newProject}]]
                  </a>
                </li>
                </th:block>
                <th:block th:if="${beans.loggedUser.canManageUsers}">
                <li>
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-users"></i> [[#{users}]]<span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                      <li><a th:href="@{/users/listAll}" th:text="#{menu.users.listAll}"></a></li>
                      <li><a th:href="@{/users/insertNew}" th:text="#{menu.users.insertNew}"></a></li>
                  </ul>
                </li>
                </th:block>
                <li>
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-question-circle-o" aria-hidden="true"></i> [[#{help}]]<span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a th:href="@{/help/textFormatting}" th:text="#{help.textFormatting}"></a></li>
                  </ul>
                </li>
	          </ul>
        <th:block th:if="${beans.loggedUser.userIsLogged}">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-user"></i> [[${beans.loggedUser.name}]]<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="javascript:;" onclick="document.formLogout.submit();"><i class="fa fa-unlock-alt"></i> [[#{logout}]]</a>
              </li>
            </ul>
          </li>
        </ul>        
        <form name="formLogout" method="post" th:action="@{/logout}"></form>
        </th:block>
		  </div>
		</div>
    </nav>
</body>
</html>