<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

    <div th:fragment="reviews" id="divReviews">
	    <div th:each="review : ${reviews}" th:id="'pnlReviewId_' + ${review.id}" class="well well-sm">
	      <div th:replace="@{fragments/review} :: review"></div>  
	    </div>
    </div>

</body>
</html>