<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

    <div th:fragment="review" class="panel-group" style="margin-bottom: 0px;" th:id="'pnlReviewDataId_' + ${review.id}" th:inline="text">
	    
	    <div class="panel panel-default" th:id="'pnlReviewId_' + ${review.id}" th:classappend="${review.analysisStatus.stringStatus} eq 'OK' ? 'panel-primary' : (${review.analysisStatus.stringStatus} eq 'CAUTION' ? 'panel-warning' : (${review.analysisStatus.stringStatus} eq 'ERROR' ? 'panel-danger'))">
	
	      <div class="panel-heading clearfix">
	        <h4 class="panel-title  pull-left" th:switch="${review.analysisStatus.stringStatus}">
	          <a data-toggle="collapse" th:href="'#pnlTextReviewId_' + ${review.id}" th:case='OK' th:text="#{${review.analysisStatus.internationalizedDescription}}"></a>
	          <a data-toggle="collapse" th:href="'#pnlTextReviewId_' + ${review.id}" th:case='CAUTION' th:text="#{${review.analysisStatus.internationalizedDescription}}"></a>
	          <a data-toggle="collapse" th:href="'#pnlTextReviewId_' + ${review.id}" th:case='ERROR' th:text="#{${review.analysisStatus.internationalizedDescription}}"></a>
	          <a data-toggle="collapse" th:href="'#pnlTextReviewId_' + ${review.id}" th:case='*' th:text="#{${review.analysisStatus.internationalizedDescription}}"></a>
	         </h4>
	         <h1 class="panel-title pull-right">
	          <a id="linkAddReplyReviewId" href="#" data-target="#modalAddReplyReviewId" th:attr="data-id=${review.id}" data-toggle="modal">          
	            <i class="fa fa-plus-square-o"></i> [[#{reply}]]
	          </a>
	         </h1>
	      </div>
	
	      <div class="panel-body panel-collapse collapse in" th:id="'pnlTextReviewId_' + ${review.id}" th:utext="${review.comment}"></div>
	
	      <div class="panel-footer clearfix">
	        <h4 class="panel-title  pull-left" th:utext="${review.edited} ? #{review.userEditedReview(${review.authorName},${review.lastEdition})} : #{review.userAddedReview(${review.authorName},${review.date})}"></h4>
	        <div class="pull-right">
	          <a th:href="'javascript: editReview(\''+ ${review.id}+ '\');'" th:if="${review.loggedUserIsAuthor}">
	            <i class="fa fa-pencil-square-o"></i> [[#{edit}]]
	          </a>
	        </div>          
	      </div>
	    
	    </div>
    
      <div th:each="reply : ${review.replies}" class="panel panel-default" th:inline="text" th:id="'pnlReplyId_' + ${reply.id}">
        <th:block th:replace="@{fragments/reply} :: reply"></th:block>
      </div>
    
    </div>
    
</body>
</html>