<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

  <th:block th:fragment="reviewsSection">
    <div th:replace="@{fragments/reviews} :: reviews"></div>

    <th:block th:if="${loggedUserCanAddReview}">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left" >
          <a data-toggle="collapse" href="#pnlAddReviewId" th:text="#{title.projects.review.addReview}">Add review</a>
        </h4>
        <div class="pull-right">
          <a href="#" data-toggle="modal" data-target="#modalTextFormattingHelp">
            <i class="fa fa-question-circle-o" aria-hidden="true"></i> [[#{help}]]
          </a>
        </div>
      </div>
      <div id="pnlAddReviewId" class="panel-body panel-collapse collapse in">
        <form th:replace="@{fragments/formAddReview} :: formAddReview"></form>
      </div>
    </div>
    </th:block>
    <th:block th:if="not ${loggedUserCanAddReview}">
      <div class="alert alert-info" th:inline="text">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <i class="fa fa-info"></i> [[#{review.code.analysis.loggedUserCanNotAddReview}]]
      </div>
    </th:block>

    <div id="modalAddReplyReviewId" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" id='btnModalReplyReviewCloseId' class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" th:text="#{title.projects.review.addReplyReview}">Reply Review</h4>
          </div>
          <div class="modal-body" id="divModalBodyAddtReplyReviewId">
            <th:block th:replace="@{fragments/formReplyReview} :: formReplyReview"></th:block>
          </div>
          <div class="modal-footer">
            <button id="btnAddReplyReviewId" type="button" class="btn btn-primary" th:text="#{insert}">Insert</button>
          </div>
        </div>
      </div>
    </div>      
    <div id="modalEditReplyReviewId" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" id='btnModalReplyReviewCloseId' class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" th:text="#{title.projects.review.editReplyReview}">Edit Reply</h4>
          </div>
          <div class="modal-body" id="divModalBodyEditReplyReviewId">
            <th:block th:replace="@{fragments/formReplyReview} :: formReplyReview"></th:block>
          </div>
          <div class="modal-footer">
            <button id="btnSaveReplyReviewId" type="button" class="btn btn-primary" th:text="#{save}">Save</button>
          </div>
        </div>
      </div>
    </div>
    
  <div id="modalTextFormattingHelp" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" th:text="#{help.textFormatting}"></h4>
        </div>
        <div class="modal-body">
          <th:block th:replace="@{fragments/textFormattingHelp} :: textFormattingHelp"></th:block>
        </div>
    </div>
  </div>
</div>          

    <script type="text/javascript" th:inline="javascript">
      addReview();
    
      function addReview() {
      	var $form = $('#formAddReviewId');

      	$form.on('submit', function(e) {
      		setPageUrl($form);
        	e.preventDefault();
          $.ajax({
            url: $form.attr('action'),
            type: 'post',
            data: $form.serialize(),
            success: function(response) {
              if ($(response).find('.has-error').length) {
              	$form.replaceWith(response);
              	addReview();
              } else {
                $('.alert.alert-danger').hide();
              	$('#frmGroupCodeAnalysisId, #frmGroupTxtCommentId').removeClass('has-error');
                $form.find('#codeAnalysisId, #txtCommentId').val("");
                $('#divReviews').replaceWith(response);
                addSyntaxHighlightingToTheCodeBlock();
              }
            },
		        error: function (xhr, ajaxOptions, thrownError) {
		          console.log(xhr.responseText);
		          console.log(thrownError);
		        },
		        async: false
          });
        });
      }
      
      function editReview(id) {
          var url = [[@{/projects/review/edit/}]] + id;
          var div = '#pnlReviewId_' + id;
          $(div).removeClass('panel-primary panel-warning panel-danger');
          $(div).load(url);
      }

      function saveReview(id) {
        var $form = $('#formEditReviewId');
        setPageUrl($form);
        
        var div = '#pnlReviewId_' + id;
        $.ajax({
          url: $form.attr('action'),
          type: 'post',
          data: $form.serialize(),
          success: function(response) {
           if ($(response).find('.has-error').length) {
               $(div).empty();
               $(div).append(response);
             } else {
               $(div).html(response);
               addSyntaxHighlightingToTheCodeBlock();
             }
          },
	      error: function (xhr, ajaxOptions, thrownError) {
	        console.log(xhr.responseText);
	        console.log(thrownError);
	      },
	        async: false
        });
      }

      function cancelEditReview(id) {
	      var div = '#pnlReviewId_' + id;
	      $.ajax({
	        url: [[@{/projects/review/cancelEdit/}]] + id,
	        type: 'get',
	        success: function(response) {
	          $(div).html(response);
               addSyntaxHighlightingToTheCodeBlock()
	        },
		    error: function (xhr, ajaxOptions, thrownError) {
		      console.log(xhr.responseText);
		      console.log(thrownError);
		    },
	        async: false
        });
      }
      
      $('#modalAddReplyReviewId').on('show.bs.modal', function(e) {
    	  var reviewId = $(e.relatedTarget).data('id');
    	  $('#inpReplyReviewIdReviewId').val(reviewId);
      }); 
      
      $('#modalEditReplyReviewId').on('show.bs.modal', function(e) {
        var id = $(e.relatedTarget).data('id');
        var url = [[@{/projects/review/reply/edit/}]] + id;
        $('#divModalBodyEditReplyReviewId').load(url);
      }); 
      
      $('#modalAddReplyReviewId, #modalEditReplyReviewId').on('hide.bs.modal', function(e) {
      	clearFormReplyReviewId();
      });
      
      $('#btnAddReplyReviewId').click(function(e){
    	  var $form = $('#formReplyReviewId', $('#divModalBodyAddtReplyReviewId'));
          setPageUrl($form);
          $.ajax({
            url:  [[@{/projects/review/reply/add}]],
            type: 'post',
            data: $form.serialize(),
            success: function(response) {
              if ($(response).find('.has-error').length) {
                  $form.replaceWith(response);
                } else {
                   var reviewId = $('#inpReplyReviewIdReviewId', $form).val();
                   var pnlReview = '#pnlReviewDataId_' + reviewId;
                   $(pnlReview).replaceWith(response);
                   $('#modalAddReplyReviewId').modal('toggle');
                   clearFormReplyReviewId();
                   addSyntaxHighlightingToTheCodeBlock();
                }
              },
              error: function (xhr, ajaxOptions, thrownError) {
                console.log(xhr.responseText);
                console.log(thrownError);
              },
              async: false
          });
      });

      $('#btnSaveReplyReviewId').click(function(e){
          var $form = $('#formReplyReviewId', $('#divModalBodyEditReplyReviewId'));
          setPageUrl($form);
          $.ajax({
            url:  [[@{/projects/review/reply/edit}]],
            type: 'post',
            data: $form.serialize(),
            success: function(response) {
              if ($(response).find('.has-error').length) {
                  $form.replaceWith(response);
                } else {
                   var replyId = $('#inpReplyReviewIdReplyId', $form).val();
                   var pnlReply = '#pnlReplyId_' + replyId;
                   $(pnlReply).html(response);
                   $('#modalEditReplyReviewId').modal('toggle');
                   clearFormReplyReviewId();
                   addSyntaxHighlightingToTheCodeBlock();
                }
              },
              error: function (xhr, ajaxOptions, thrownError) {
                console.log(xhr.responseText);
                console.log(thrownError);
              },
              async: false
          });
    	});

      function clearFormReplyReviewId() {
        var $form = $('#formReplyReviewId');
        $form.find('.alert.alert-danger').hide();
        $form.find('#frmGroupTxtReplyReviewId').removeClass('has-error');
        $form.find('#txtReplyReviewTextId').val("");
      }
      
      function setPageUrl($form) {
    	var $inputPageUrl = $('#inpPageUrlId', $form);
        $inputPageUrl.val(pageUrl());
      }
      
    </script>
  </th:block>
</body>
</html>