<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <div th:fragment="showErrors" th:if="${#fields.hasAnyErrors()}">
      <div class="alert alert-danger" th:each="err : ${#fields.errors('*')}" th:inline="text">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <span class="glyphicon glyphicon-alert"></span>
        <strong th:text="#{error} + ':'"></strong> [[${err}]]
      </div>
    </div>
</body>
</html>