<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

    <th:block th:fragment="textFormattingHelp">
    
    <p>
      <th:block th:text="#{help.markDownInfo}"></th:block> <a href="https://daringfireball.net/projects/markdown/">https://daringfireball.net/projects/markdown/</a>
    </p> 
	    
    <h3 th:text="#{help.codeBlocks}">Code Blocks</h3>
    <table class="table">
      <thead>
        <tr>
          <th th:text="#{marking}">Marking</th>
          <th th:text="#{result}">Result</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><pre>`Code`</pre></td>
          <td><code>Code</code></td>
        </tr>
        <tr>
          <td>
            <p th:text="#{help.howProduceCodeBlock}"></p>
<pre>
    public void helloWord {
      System.out.println("Hello Word Easy Review")
    }
</pre></td>
          <td style="width: 50%">
<pre><code class="prettyprint prettyprinted"><span class="kwd">public</span><span class="pln"> </span><span class="kwd">void</span><span class="pln"> helloWord </span><span class="pun">{</span><span class="pln">
    </span><span class="typ">System</span><span class="pun">.</span><span class="kwd">out</span><span class="pun">.</span><span class="pln">println</span><span class="pun">(</span><span class="str">"Hello Word Easy Review"</span><span class="pun">)</span><span class="pln">
</span><span class="pun">}</span></code></pre>                
          </td>
        </tr>
       </tbody>      
    </table>

    <h3 th:text="#{headers}">Headers</h3>
    <table class="table">
      <thead>
        <tr>
          <th th:text="#{marking}">Marking</th>
          <th th:text="#{result}">Result</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><pre># h1 Header</pre></td>
          <td><h1>h1 Header</h1></td>
        </tr>
        <tr>
          <td><pre>## h2 Header</pre></td>
          <td><h2>h2 Header</h2></td>
        </tr>
        <tr>
          <td><pre>### h3 Header</pre></td>
          <td><h3>h3 Header</h3></td>
        </tr>
        <tr>        
          <td><pre>#### h4 Header</pre></td>
          <td><h4>h4 Header</h4></td>
        </tr>
        <tr>
          <td><pre>##### h5 Header</pre></td>
          <td><h5>h5 Header</h5></td>
        </tr>
        <tr>
          <td><pre>###### h6 Header</pre></td>
          <td><h6>h6 Header</h6></td>
        </tr>
       </tbody>      
    </table>

    <h3 th:text="#{link}">Link</h3>
    <table class="table">
      <thead>
        <tr>
          <th th:text="#{marking}">Marking</th>
          <th th:text="#{result}">Result</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <pre>[Markdown Reference](https://daringfireball.net/projects/markdown/)</pre>
          </td>
          <td style="width: 50%">
            <a href="https://daringfireball.net/projects/markdown/">Markdown Reference</a>
          </td>
        </tr>
       </tbody>      
    </table>      

    
    <h3 th:text="#{lists}">Lists</h3>
    <table class="table">
      <thead>
        <tr>
          <th th:text="#{marking}">Marking</th>
          <th th:text="#{result}">Result</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
<pre>
1.  One
2.  Two
3.  Three</pre>
          </td>
          <td>
            <ol>
              <li>One</li>
              <li>Two</li>
              <li>Three</li>
            </ol>
          </td>
        </tr>
        <tr>
          <td>
<pre>
*  One
*  Two
*  Three</pre>
          </td>
          <td>
            <ul>
              <li>One</li>
              <li>Two</li>
              <li>Three</li>
            </ul>
          </td>
        </tr>
       </tbody>      
    </table>      
    
    <h3 th:text="#{help.textEmphasis}">Text Emphasis</h3>
    <table class="table">
      <thead>
        <tr>
          <th th:text="#{marking}">Marking</th>
          <th th:text="#{result}">Result</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><pre>*Renders as emphasized text*</pre></td>
          <td><em>Renders as emphasized text</em></td>
        </tr>
        <tr>
          <td><pre>**Defines important text**</pre></td>
          <td><strong>Defines important text</strong></td>
        </tr>
       </tbody>      
    </table>	       

    </th:block>
    
</body>
</html>