<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
   	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.2.0/jquery.min.js"
            th:src="@{/webjars/jquery/2.2.0/jquery.min.js}" ></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	
	<title th:fragment="title(titlePage)" th:text="${#strings.isEmpty(titlePage)} ? 'EasyReview' : 'EasyReview - ' + ${titlePage}">Title</title>
</head>
<body>
</body>
</html>