<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:include="@{fragments/head} :: title(#{help})"></th:block>
  
  <th:block th:include="@{fragments/syntaxHighlighting} :: syntaxHighlighting"></th:block>
  
  <style type="text/css">
    .table > tbody > tr > td {
       vertical-align: middle;
    }
  </style>
  
</head>
<body>
  <nav th:replace="@{fragments/header} :: header"></nav>
  
  <div class="container theme-showcase" role="main">
    
    <div class="page-header" th:inline="text">
      <h1 th:text="#{help.textFormatting}"></h1>
    </div>
    
    <th:block th:replace="@{fragments/textFormattingHelp} :: textFormattingHelp"></th:block>
  </div>

</body>
</html>