<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="@{fragments/head} :: title(#{title.users.edit})"></head>
<body>
	<nav th:replace="@{fragments/header} :: header"></nav>
  	<div class="container theme-showcase" role="main">
		<div class="page-header">
      <h1 th:text="#{title.users.edit}"></h1>
    </div>
		<form id="formEdit" role="form" th:method="put" th:object="${userFormEdit}" th:action="@{/users/edit}">
			<fieldset>
				<input type="hidden" id="idUser" th:field="*{id}"></input>
				<div th:replace="fragments/fieldsUser :: fieldsUser"></div>
			</fieldset>
			<button type="submit" class="btn btn-md btn-primary" th:text="#{save}"></button>
			<a class="btn btn-md btn-default" th:href="@{/users/listAll}" th:text="#{cancel}"></a>
		</form>
    </div> 
</body>
</html>