<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="@{fragments/head} :: title(#{title.users.insertNew})"></head>
<body>
	<nav th:replace="@{fragments/header} :: header"></nav>
  	<div class="container theme-showcase" role="main">

			<div class="page-header">
        <h1 th:text="#{title.users.insertNew}"></h1>
      </div>

			<form id="formInsertNew" role="form" method="post" th:object="${userFormInsert}" th:action="@{/users/insertNew}">
				<fieldset>

					<div th:replace="@{fragments/fieldsUser} :: fieldsUser"></div>
	
					<div th:class="${#fields.hasErrors('userPassword') or #fields.hasErrors('userPassword.password')} ? 'form-group has-error' : 'form-group'">
				    	<label for="password" th:text="#{password} + ':'"></label>
				    	<input type="password" class="form-control" id="password" name="password" th:field="*{userPassword.password}"/>
				  </div>
	
					<div th:class="${#fields.hasErrors('userPassword') or #fields.hasErrors('userPassword.confirmPassword')} ? 'form-group has-error' : 'form-group'">
				    	<label for="confirmPassword" th:text="#{confirmPassword} + ':'"></label>
				    	<input type="password" class="form-control" id="confirmPassword" name="confirmPassword" th:field="*{userPassword.confirmPassword}" />
				  </div>
				</fieldset>
				<button type="submit" class="btn btn-md btn-primary" th:text="#{insert}"></button>
				<a class="btn btn-md btn-default" th:href="@{/users/listAll}" th:text="#{cancel}"></a>
			</form>
    </div> 
</body>
</html>