<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="@{fragments/head} :: title(#{title.users.listAll})"></head>
<body>
	<nav th:replace="@{fragments/header} :: header"></nav>
 	<div class="container theme-showcase" role="main">
		<div class="page-header">
	   	<h1 th:text="#{title.users.listAll}"></h1>
	  </div>
	  
	  <div class="alert alert-success" th:if="${newUserInserted} != null" th:inline="text">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<span class="glyphicon glyphicon-exclamation-sign"></span> [[#{user.wasSuccessFullyInserted(${newUserInserted})}]] 
		</div>

	  <div class="alert alert-success" th:if="${userEdited} != null" th:inline="text">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<span class="glyphicon glyphicon-exclamation-sign"></span> [[#{user.wasSuccessFullyEdited(${userEdited})}]] 
		</div>

	  <div class="alert alert-success" th:if="${userRemoved} != null" th:inline="text">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<span class="glyphicon glyphicon-exclamation-sign"></span> [[#{user.wasSuccessFullyRemoved(${userRemoved})}]] 
		</div>

	  <div class="table-responsive">
			<table class="table table-striped table-hover">
		    <thead>
		      <tr>
		        <th th:text="#{user.name}"></th>
		        <th th:text="#{emailAddress}"></th>
		        <th class="text-center" th:text="#{user.isAdmin}"></th>
		        <th class="text-center" th:text="#{edit}"></th>
		        <th class="text-center" th:text="#{remove}"></th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr th:each="user : ${users}" th:class="${user.id} == ${userId} ? success">
		        <td th:text="${user.name}">John</td>
		        <td th:text="${user.emailAddress}">john@example.com</td>
		        <td class="text-center">
		        	<span class="glyphicon" th:classappend="${user.admin} ? 'glyphicon-ok'"></span>
		        </td>
		        <td class="text-center">
		        	<a th:href="@{/users/edit/} + ${user.id}">
		        		<span class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="bottom" th:title="#{edit}"></span>
		        	</a>
		        </td>
		        <td class="text-center">
		        	<a href="#" th:attr="data-href=@{/users/remove/} + ${user.id}" data-toggle="modal" data-target="#confirm-remove">
		        		<span class="glyphicon glyphicon-remove text-danger" data-toggle="tooltip" data-placement="bottom" th:title="#{remove}"></span>
		        	</a>
		        </td>
		      </tr>
		    </tbody>
		  </table>
	  </div>	
   </div>

	<div class="modal fade" id="confirm-remove" tabindex="-1" role="dialog">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header" th:text="#{user.edit.titleRemoveMessage}"></div>
	            <div class="modal-body" th:text="#{user.edit.removeMessage}"></div>
	            <div class="modal-footer">
	                <a class="btn btn-md btn-danger btn-ok" th:text="#{remove}"></a>
	                <button type="button" class="btn btn-md btn-default" data-dismiss="modal" th:text="#{cancel}"></button>
	            </div>
	        </div>
	    </div>
	</div>
	
	<script>
		$('#confirm-remove').on('show.bs.modal', function(e) {
		    $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
		});	

		$('[data-toggle="tooltip"]').tooltip(); 
	</script>

</body>
</html>