body {
  padding-top: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.navbar-brand {
  line-height:5px;
}

.navbar-brand small {
  display:block;
  font-size:10px;
  margin-left: 30px
}

.tooltip-inner {
    max-width: 350px;
 }