<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="@{fragments/head} :: title(#{title.accessDenied})">
</head>
<body>
	<nav th:replace="@{fragments/header} :: header"></nav>
	<div class="container theme-showcase" role="main" style="margin-top: 50px;">
		<div class="jumbotron bg-danger" style="text-align: center;">
	    <h1 th:text="#{title.accessDenied}"></h1> 
			<p class="text-muted" th:text="#{title.accessDenied.message}"></p>
		</div>
	</div>
</body>
</html>