<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="@{fragments/head} :: title(#{error})">
</head>
<body>
	<nav th:replace="@{fragments/header} :: header"></nav>
	<div class="container theme-showcase" role="main" style="margin-top: 50px;">
		<div class="jumbotron" style="text-align: center;">
	    	<h1 th:text="#{errorPage.title}"></h1> 
			<h2 th:if="${status}" >
				<span th:if="${status}" th:text="${status}"></span><span th:if="${error}" th:text="' ('+${error}+')'"></span>
			</h2>
			<p>
				<span th:if="${message} and ${message.length() != 0}" th:text="${message}"></span>
				<br/>
				<span th:if="${timestamp}" th:text="${timestamp}"></span>
				<br/>
				<span th:if="${url}" th:text="${url}"></span>
			</p>
		</div>
		
		<a th:if="${#locale.language} == 'pt'" th:href="@{http://vidadeprogramador.com.br/?s=alonso}" target="_blank">
			<img th:src="@{/images/alonsoquality.jpg}" alt="Selo Alonso de Qualidade" class="img-responsive center-block" />
		</a>
	</div>
</body>
</html>