<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:include="@{fragments/head} :: title(#{login})"></th:block>
  
  <style type="text/css">
		.modal {
		  text-align: center;
		}
		
		@media screen and (min-width: 768px) { 
		  .modal:before {
		    display: inline-block;
		    vertical-align: middle;
		    content: " ";
		    height: 100%;
		  }
		}
		
		.modal-dialog {
		  display: inline-block;
		  text-align: left;
		  vertical-align: middle;
		}  
  </style>
</head>
<body>
	<nav th:replace="@{fragments/header} :: header"></nav>
	
  <div class="container theme-showcase" role="main">

	  <div class="modal show" id="ModalLoginId" role="dialog" th:inline="text">
	    
	    <div class="modal-dialog">
	    
	      <!-- Modal content-->
	      <div class="modal-content">
	        
	        <div class="modal-header" style="padding:15px 50px;">
	          <h1><i class="fa fa-user"></i> [[#{login}]]</h1>
	        </div>
	        
	        <div class="modal-body" style="padding:20px 50px;">
				    <div th:if="${loginError}">
				      <div class="alert alert-danger" th:inline="text">
				        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				        <span class="glyphicon glyphicon-alert"></span>
				        <strong th:text="#{error} + ':'"></strong> [[#{loginErrorMessage}]]
				      </div>
				    </div>	          
	          
	          <form role="form" method="post" th:action="@{/login}">
              <div class="form-group" th:classappend="${loginError} ? has-error">
					      <label for="email"><i class="fa fa-envelope"></i> [[#{emailAddress}]]:</label>
					      <input class="form-control" type="text" id="email" name="email"/>
					    </div>
              <div class="form-group" th:classappend="${loginError} ? has-error">
                <label for="password"><i class="fa fa-lock"></i> [[#{password}]]:</label>
                <input type="password" class="form-control" id="password" name="password"/>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" name="rememberMeId" id="rememberMeId"></input>[[#{login.rememberMe}]]</label>
              </div>
	            <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span> [[#{login}]]</button>
	          </form>

	        </div>
	       
	        <div hidden="true" class="modal-footer">
	          <p><a href="#">Forgot Password?</a></p>
            <p><a href="#">Change Password?</a></p>
	        </div>
	      </div>
	      
	    </div>

	  </div> 

	</div>
</body>
</html>