<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:include="@{fragments/head} :: title(#{review})"></th:block>

  <th:block th:include="@{fragments/syntaxHighlighting} :: syntaxHighlighting"></th:block>

  <th:block th:include="@{fragments/codeMirror} :: codeMirror"></th:block>
    
  <link rel="stylesheet" th:href="@{/codemirror/addon/merge/merge.css}"/>
  <script th:src="@{/codemirror/addon/merge/merge.js}"></script>
  
  <style>
    .CodeMirror-merge {
      height: 600px !important;
    }
		.CodeMirror-merge, .CodeMirror-merge .CodeMirror {
		  height: 598px;
		}
  </style>  
</head>
<body>

	<nav th:replace="@{fragments/header} :: header"></nav>
	
  <div class="container theme-showcase" role="main" style="width: 100%" th:inline="text">
    <div class="page-header">
     <h1 th:text="#{title.projects.review.fileModified}"></h1>
     <p class="text-muted" style="margin-left: 5px" th:text="#{title.projects.review.subtitle(${projectName}, ${commitMessage})}"></p>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left"><a data-toggle="collapse" href="#pnlFileReviewId" th:text="#{project.review.files.compare.title(${fileName})}"></a></h4>
        <div class="dropdown pull-right" style="cursor: pointer;">
          <i class="fa fa-cog" data-toggle="dropdown"></i>
			    <ul class="dropdown-menu">
			      <li><a id="lnkIdenticalCodeId" href="javascript: collapseIdenticalCode=!collapseIdenticalCode; compareFiles();"></a></li>
            <li><a id="lnkConnectFilesId" href="javascript: connectFiles=!connectFiles; compareFiles();"></a></li>
            <li><a id="lnkShowDifferencesId" href="javascript: showDifferences=!showDifferences; compareFiles();"></a></li>
			    </ul>
        </div>
      </div>
      <div>
	      <div id="pnlFileReviewId" class="panel-body panel-collapse collapse in">
	        <div id="divReviewId"></div>
	      </div>
      </div>
    </div>

    <th:block th:replace="@{fragments/reviewsSection} :: reviewsSection"></th:block>
    
	</div>
	
  <script type="text/javascript" th:inline="javascript">
    var currentFile = [[${files.currentFile}]];
    var previousFile = [[${files.previousFile}]];
        
    var collapseIdenticalCode = true;
    var connectFiles = true;
    var showDifferences = true; 

    compareFiles();
    
	  function compareFiles() {
		   var target = document.getElementById("divReviewId");
		   target.innerHTML = "";
		   var connect = connectFiles ? null : 'align';

		   setMenuIdenticalCode();
		   setMenuConnectFiles();
		   setShowDifferences();

		   CodeMirror.MergeView(target, {
				 value: currentFile,
				 orig: previousFile,
				 lineNumbers: true,
				 readOnly:true,
				 revertButtons: false,
				 mode: [[${mode}]],
				 collapseIdentical: collapseIdenticalCode,
				 connect: connect,
				 showDifferences: showDifferences,
				 matchBrackets: true});
		}
	  
	  function setMenuIdenticalCode() {
		  var link = document.getElementById("lnkIdenticalCodeId");
		  link.innerHTML = collapseIdenticalCode ? [[#{project.review.indenticalCode.expand}]] : [[#{project.review.indenticalCode.collapse}]];
	  }
	    
    function setMenuConnectFiles() {
      var lnkConnectFiles = document.getElementById("lnkConnectFilesId");
      lnkConnectFiles.innerHTML = connectFiles ? [[#{project.review.files.disconnect}]] : [[#{project.review.files.connect}]];
    }
    
    function setShowDifferences() {
        var link = document.getElementById("lnkShowDifferencesId");
        link.innerHTML = showDifferences ? [[#{project.review.differences.hide}]] : [[#{project.review.differences.show}]];
    }
  </script>
	
</body>
</html>