<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:include="@{fragments/head} :: title(#{review})"></th:block>

  <th:block th:include="@{fragments/syntaxHighlighting} :: syntaxHighlighting"></th:block>
  
  <th:block th:include="@{fragments/codeMirror} :: codeMirror"></th:block>

  <style>
    .CodeMirror {
      border: 1px solid #ddd;
      height: 600px !important;
    }
  </style>  
</head>
<body>

  <nav th:replace="@{fragments/header} :: header"></nav>

  <div class="container theme-showcase" role="main" th:inline="text">
    <div class="page-header">
     <h1 th:text="#{title.projects.review.fileRemoved}"></h1>
     <p class="text-muted" style="margin-left: 5px" th:text="#{title.projects.review.subtitle(${projectName}, ${commitMessage})}"></p>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h4 class="panel-title"><a data-toggle="collapse" href="#pnlFileReviewId" th:text="${fileName}">/file/test.txt</a></h4>
      </div>
        <div id="pnlFileReviewId" class="panel-body panel-collapse collapse in">
        <textarea id="textAreaReviewId" th:text="${file}"></textarea>
      </div>
    </div>

    <th:block th:replace="@{fragments/reviewsSection} :: reviewsSection"></th:block>

  </div>
 
  <script type="text/javascript" th:inline="javascript">
    CodeMirror.fromTextArea(document.getElementById("textAreaReviewId"), {
    	title: 'test of system',
      lineNumbers: true,
      readOnly:true,
      mode: [[${mode}]],
      matchBrackets: true
    });
  </script>
  
</body>
</html>