<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="@{fragments/head} :: title(${projectName})">
</head>
<body>
	<nav th:replace="@{fragments/header} :: header"></nav>
  
  <div class="container theme-showcase" role="main">
    <div class="page-header">
      <h1 th:text="#{title.projects.commits(${projectName})}"></h1>
    </div>
  
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th th:text="#{project.commit.message}"></th>
            <th class="text-center" th:text="#{project.commit.date}"></th>
            <th class="text-center" th:text="#{project.commit.committer}"></th>
            <th class="text-center" th:text="#{files}"></th>
            <th class="text-center" th:text="#{project.commit.filesReviewed}"></th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="commit : ${commits}" th:classappend="${commit.loggedUserReviewed} ? success">
            <td>
              <a th:href="@{/projects/listFiles/} + ${commit.projectId} + '/' + ${commit.commitId}" th:text="${commit.message}"></a>
            </td>
            <td class="text-center" th:text="${commit.date}" style="width: 14%"></td>
            <td class="text-center" style="width: 20%" th:text="${commit.committerName}" data-container="body" data-toggle="emailHint" data-placement="bottom" th:title="${commit.committerEmail}"></td>
            <td class="text-center" style="width: 5%" th:text="${commit.numberOfFiles}"></td>
            <td class="text-center" style="font-size:16px; width: 5%">
              <span class="label" th:classappend="${commit.filesReviewed} eq 0 ? label-default : (${commit.hasAnErrorReview} ? label-danger : (${commit.hasAnCautionReview} ? label-warning : label-primary))" th:text="${commit.filesReviewed}">0</span>
            </td>            
          </tr>
        </tbody>
      </table>
    </div>  
  </div>
  <script type="text/javascript">
    $('[data-toggle="emailHint"]').tooltip(); 
  </script>   
</body>
</html>