<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="@{fragments/head} :: title(#{title.projects.config})"></head>
<body>
	<nav th:replace="@{fragments/header} :: header"></nav>
  <div class="container theme-showcase" role="main">

		<div class="page-header">
       	<h1 th:text="#{title.projects.config}"></h1>
     </div>

    <form id="formConfig" role="form" th:method="put" th:object="${projectFormConfig}" th:action="@{/projects/config}">
			<fieldset>
			  <input type="hidden" th:field="*{id}"/>
		    <div th:replace="fragments/fieldsProject :: fieldsProject"></div>
			</fieldset>
			<button type="submit" class="btn btn-md btn-primary" th:text="#{save}"></button>
      <a class="btn btn-md btn-default" th:href="@{/projects/list}" th:text="#{cancel}"></a>
			<a class="btn btn-md btn-danger pull-right" th:text="#{remove}" th:attr="data-href=@{/projects/remove/} + *{id}" data-toggle="modal" data-target="#confirm-remove"></a>
		</form>
  </div> 

  <div class="modal fade" id="confirm-remove" tabindex="-1" role="dialog">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header" th:text="#{project.remove.titleRemoveMessage}"></div>
              <div class="modal-body" th:text="#{project.remove.removeMessage}"></div>
              <div class="modal-footer">
                  <a class="btn btn-md btn-danger btn-ok" th:text="#{remove}"></a>
                  <button type="button" class="btn btn-md btn-default" data-dismiss="modal" th:text="#{cancel}"></button>
              </div>
          </div>
      </div>
  </div>

  <script>
    $('#confirm-remove').on('show.bs.modal', function(e) {
        $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
    }); 
  </script>

</body>
</html>