<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="@{fragments/head} :: title(${projectName})"></head>
<body>
  <nav th:replace="@{fragments/header} :: header"></nav>
  
  <div class="container theme-showcase" role="main">
    <div class="page-header" th:inline="text">
      <h1 th:text="#{title.projects.commits(${projectName})}"></h1>
      <p class="text-muted" style="margin-left: 5px" th:text="${commitMessage}"></p>
    </div>
  
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th th:text="#{fileName}"></th>
            <th class="text-center" th:text="#{status}"></th>
            <th class="text-center" th:text="#{reviews}"></th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="file : ${files}" th:classappend="${file.loggedUserReviewed} ? success">
            <td>
              <a th:text="${file.fileName}" th:href="@{/projects/} + ${file.revisonPath}"></a>
            </td>
            <td class="text-center" th:text="#{${file.fileStatus}}" style="width: 7.5%"></td>
            <td class="text-center" style="font-size:16px; width: 7.5%">
              <span class="label" th:classappend="${file.numberOfReviews} eq 0 ? label-default : (${file.hasAnErrorReview} ? label-danger : (${file.hasAnCautionReview} ? label-warning : label-primary))" th:text="${file.numberOfReviews}">0</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>  
  </div>
</body>
</html>