<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="@{fragments/head} :: title(#{title.projects.insertNew})"></head>
<body>
	<nav th:replace="@{fragments/header} :: header"></nav>
  	<div class="container theme-showcase" role="main">

			<div class="page-header">
        	<h1 th:text="#{title.projects.insertNew}"></h1>
      </div>

			<form id="formInsertNew" role="form" method="post" th:object="${projectFormInsert}" th:action="@{/projects/insertNew}">
				<fieldset>
				  <div th:replace="fragments/fieldsProject :: fieldsProject"></div>
				</fieldset>
				<button type="submit" class="btn btn-md btn-primary" th:text="#{insert}"></button>
				<a class="btn btn-md btn-default" th:href="@{/projects/list}" th:text="#{cancel}"></a>
			</form>
    </div> 
</body>
</html>