<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="@{fragments/head} :: title('')">
</head>
<body>
	<nav th:replace="@{fragments/header} :: header"></nav>
	
  <div class="container theme-showcase" role="main" style="margin-top: 50px;" th:inline="text">
    <div th:each="project : ${projects}" class="panel panel-default">
      <div class="panel-body">
        <h1 th:class="${project.hasError} ? text-danger">
          <a th:href="@{/projects/listCommits/} + ${project.id}" th:if="not ${project.hasError}" th:text="${project.name}"></a>
          <th:block th:if="${project.hasError}" th:text="${project.name}"></th:block>
        </h1>
        <p class="text-muted">
          [[#{project.numberOfCommits(${project.numberOfCommits})}]]
          <th:block th:if="${project.newCommits} gt 0" th:text="${project.newCommits} + ' ' + #{new}"></th:block>
        </p>
        <hr></hr> 
        <div class="pull-right" style="font-size: 16px">
          <th:block th:if="not ${project.hasError}">
            <a th:href="@{/projects/metrics/} + ${project.id}" style="margin-right: 15px">
              <i class="fa fa-line-chart"></i>  [[#{metrics}]]
            </a>
            <a th:href="@{/projects/update/} + ${project.id}" style="margin-right: 15px">
              <i class="fa fa-refresh"></i>  [[#{update}]]
            </a>
          </th:block>
          <a th:href="@{/projects/config/} + ${project.id}" th:if="${beans.loggedUser.isAdmin}">
            <i class="fa fa-cogs"></i>  [[#{config}]]
          </a>
        </div> 
      </div>
    </div>
	 </div>	 
</body>
</html>