<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:include="@{fragments/head} :: title(#{metrics})"></th:block>
  
  <link rel="stylesheet" type="text/css" th:href="@{/circliful/css/jquery.circliful.css}"/>
  <script th:src="@{/circliful/js/jquery.circliful.min.js}"></script>

</head>
<body>
	<nav th:replace="@{fragments/header} :: header"></nav>
	
  <div class="container theme-showcase" role="main" th:inline="text">

    <div class="page-header">
      <h1 th:text="#{title.metrics(${project.name})}"></h1>
    </div>


    <div class="page-header">
      <h3 th:text="#{reviews}"></h3>
    </div>

    <div id="idRowReviews" class="row">

      <div class="col-lg-3 col-md-6" th:onclick="'location.href=\''+@{/projects/listCommits/} + ${project.id}+'\';'" style="cursor:pointer;">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <div class="row text-info">
                      <div class="col-xs-3">
                          <i class="fa fa-comments fa-5x"></i>
                      </div>
                      <div class="col-xs-9 text-right">
                          <div style="font-size: 35px;" th:text="${metrics.numberOfReviews}"></div>
                          <div th:text="#{metrics.reviews.made}"></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
     
	    <div class="col-lg-3 col-md-6">
	        <div class="panel panel-primary">
	            <div class="panel-heading">
	                <div class="row">
	                    <div class="col-xs-3">
	                        <i class="fa fa-check fa-5x"></i>
	                    </div>
	                    <div class="col-xs-9 text-right">
	                        <div style="font-size: 35px;"  th:text="${metrics.numberOfReviewsWithOkStatus}"></div>
	                        <div th:text="#{metrics.reviews.withOkStatus}"></div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>

      <div class="col-lg-3 col-md-6">
          <div class="panel panel-warning">
              <div class="panel-heading">
                  <div class="row">
                      <div class="col-xs-3 text-center">
                          <i class="fa fa-exclamation fa-5x"></i>
                      </div>
                      <div class="col-xs-9 text-right">
                          <div style="font-size: 35px;" th:text="${metrics.numberOfReviewsWithCautionStatus}"></div>
                          <div th:text="#{metrics.reviews.foundProblems}"></div>
                      </div>
                  </div>
              </div>
              
          </div>
      </div>

      <div class="col-lg-3 col-md-6">
          <div class="panel panel-danger">
              <div class="panel-heading">
                  <div class="row">
                      <div class="col-xs-3">
                          <i class="fa fa-times fa-5x"></i>
                      </div>
                      <div class="col-xs-9 text-right">
                          <div style="font-size: 35px;" th:text="${metrics.numberOfReviewsWithErrorStatus}"></div>
                          <div th:text="#{metrics.reviews.foundErrors}"></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
    
    <div id="idRowChartsReviews" class="row">

      <div class="col-lg-4 col-md-6">
        <div id="idChartReviewsWithOk" style="margin:-30px 0px -30px 0px"></div>
        <div class="text-center">
          <h4 class="text-muted" th:text="#{metrics.reviews.withOkStatus}"></h4>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-6">
        <div id="idCharReviewsFoundProblems" style="margin:-30px 0px -30px 0px"></div>
        <div class="text-center">
          <h4 class="text-muted" th:text="#{metrics.reviews.foundProblems}"></h4>
        </div>
      </div>
        
      <div class="col-lg-4 col-md-6">
        <div id="idCharReviewsFoundErrors" style="margin:-30px 0px -30px 0px"></div>
        <div class="text-center">
          <h4 class="text-muted" th:text="#{metrics.reviews.foundErrors}"></h4>
        </div>
      </div>
    
    </div>      
    
    <div class="page-header">
      <h3 th:text="#{files}"></h3>
    </div>
    
    <div id="idRowReviews" class="row">
      <div class="col-lg-3 col-md-6">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <div class="row text-info">
                      <div class="col-xs-3">
                          <i class="fa fa-files-o fa-5x"></i>
                      </div>
                      <div class="col-xs-9 text-right">
                          <div style="font-size: 35px;" th:text="${metrics.numberOfFilesRevised}"></div>
                          <div th:text="#{metrics.files.revised}"></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      
      <div class="col-lg-3 col-md-6">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <div class="row">
                      <div class="col-xs-3 text-success">
                          <i class="fa fa-file-code-o fa-5x"></i>
                      </div>
                      <div class="col-xs-9 text-right text-success">
                          <div style="font-size: 35px;" th:text="${metrics.numberOfFilesWithoutProblemsAndErrors}"></div>
                          <div th:text="#{metrics.files.totallyOk}"></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
     
      <div class="col-lg-3 col-md-6">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <div class="row text-warning">
                      <div class="col-xs-3">
                          <i class="fa fa-file-o fa-5x"></i>
                      </div>
                      <div class="col-xs-9 text-right">
                          <div style="font-size: 35px;" th:text="${metrics.numberOfFilesWithProblems}"></div>
                          <div th:text="#{metrics.files.withProblems}"></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="col-lg-3 col-md-6">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <div class="row text-danger">
                      <div class="col-xs-3">
                          <i class="fa fa-file-excel-o  fa-5x"></i>
                      </div>
                      <div class="col-xs-9 text-right">
                          <div style="font-size: 35px;" th:text="${metrics.numberOfFilesWithErrors}"></div>
                          <div th:text="#{metrics.files.withErrors}"></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

    </div>
    
    <div id="idRowChartsFiles" class="row">        
      <div class="col-lg-4 col-md-6">
        <div id="idChartFilesTotallyOk" style="margin:-30px 0px -30px 0px"></div>
        <div class="text-center">
          <h4 class="text-muted" th:text="#{metrics.files.totallyOk}"></h4>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-6">
        <div id="idCharFilesWithProblems" style="margin:-30px 0px -30px 0px"></div>
        <div class="text-center">
          <h4 class="text-muted" th:text="#{metrics.files.withProblems}"></h4>
        </div>
      </div>
        
      <div class="col-lg-4 col-md-6">
        <div id="idCharFilesWithErrors" style="margin:-30px 0px -30px 0px"></div>
        <div class="text-center">
          <h4 class="text-muted" th:text="#{metrics.files.withErrors}"></h4>
        </div>
      </div>

    </div>
    
	 </div>
  <script th:inline="javascript">

    printChart("idChartReviewsWithOk", "#337AB7", "f00c", [[${metrics.percentageOfReviewsWithOkStatusRounded}]]);	
    printChart("idCharReviewsFoundProblems", "#f0ad4e", "f12a", [[${metrics.percentageOfReviewsWithCautionStatusRounded}]]);  
    printChart("idCharReviewsFoundErrors", "#d9534f", "f00d", [[${metrics.percentageOfReviewsWithErrorStatusRounded}]]);  

    printChart("idChartFilesTotallyOk", "#5cb85c", "f00c", [[${metrics.percentageOfFilesWithoutProblemsAndErrorsRounded}]]);  
    printChart("idCharFilesWithProblems", "#f0ad4e", "f12a", [[${metrics.percentageOfFilesWithProblemsRounded}]]);  
    printChart("idCharFilesWithErrors", "#d9534f", "f00d", [[${metrics.percentageOfFilesWithErrorsRounded}]]);  
	  
    function printChart(chartName, color, icon, percent) {
	    $("#" + chartName).circliful({
	        animationStep: 5,
	        foregroundBorderWidth: 15,
	        backgroundBorderWidth: 7,
	        percent: percent,
	        percentageTextSize: 20,
	        icon: icon,
	        iconSize: 30,
	        iconPosition: "bottom",
	        percentColor: color,
	        foregroundColor: color,
	        iconColor: color,
	        fontColor: color
	    });
    	
    }
	</script>	 
</body>
</html>